//* COLORS
// PRIMARY
$minute-green: #b6d449;
$fob-grey: #8d8d8d;
$key-blue: #6f95b6;
// SECONDARY
$background-grey: #b6d449;
$background-blue: #d9e3ed;
// TEXT
$text-dark: #072327;
$text-white: #fff;
$text-grey: #58595B;
$text-blue: #6E86A4;

//* LAYOUT
1440px: 1440px;
$nav-bar-dark: #313131;
